<!-- Empty Navbar at the top with the same color as the sidebar header -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #34495e;">
  <div class="container-fluid">
    <!-- Vous pouvez ajouter un titre ou du contenu ici si nécessaire -->
  </div>
</nav>

<!-- Si ce n'est pas la page de connexion, afficher la sidebar -->
<aside *ngIf="!isLoginPage" class="sidebar">
  <div class="sidebar-header" style="background-color: #34495e;">
    <a class="navbar-brand">Gestion des Employés</a>
  </div>
  <div class="sidebar-content">
    <ul class="nav flex-column">
      <!-- Item commun pour RESPONSABLE et EMPLOYER -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/RESPONSABLE/dashboard">Accueil</a>
      </li>

      <!-- Afficher ces éléments uniquement pour le rôle RESPONSABLE -->
      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/employers">Employés</a>
      </li>
      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/formations">Formations</a>
      </li>
      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/absences">Absences</a>
      </li>
      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/department">Départements</a>
      </li>



      <!-- Bouton de déconnexion commun pour RESPONSABLE et EMPLOYER -->
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
      </li>
    </ul>
  </div>
</aside>
