<!-- Empty Navbar at the top with the same color as the sidebar header -->
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>



<!-- Si ce n'est pas la page de connexion, afficher la sidebar -->
<aside *ngIf="!isLoginPage" class="sidebar">
  <div class="sidebar-header" style="background-color: #34495e;">
    <a class="navbar-brand">Gestion Employé</a>
  </div>
  <div class="sidebar-content">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="isResponsable ? '/RESPONSABLE/profile' : '/EMPLOYER/profile'">
          <i class="fas fa-user"></i> Profile
        </a>
      </li>

      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/dashboard">
          <i class="fas fa-home"></i> Accueil
        </a>
      </li>
      <li class="nav-item" *ngIf="isEmployer">
        <a class="nav-link" routerLink="/EMPLOYER/rh-management">
          <i class="fas fa-home"></i> Accueil
        </a>
      </li>

      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/employers">
          <i class="fas fa-users"></i> Employés
        </a>
      </li>
      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/formations">
          <i class="fas fa-chalkboard-teacher"></i> Formations
        </a>
      </li>
      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/absences">
          <i class="fas fa-calendar-day"></i> Absences
        </a>
      </li>
      <li class="nav-item" *ngIf="isResponsable">
        <a class="nav-link" routerLink="/RESPONSABLE/department">
          <i class="fas fa-building"></i> Départements
        </a>
      </li>

      <!-- Bouton de déconnexion -->
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Déconnexion
        </button>
      </li>

    </ul>
  </div>
</aside>
